
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 ;  }


#list {
    
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    alignment-baseline: central;
    width: 75%;
    left: 12.5%;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}
#my_button{
        
    
          padding: 15px;

          border: 1px solid transparent;
          border-radius: 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;

          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          alignment-baseline:central;
          width:75%;
          left:12.5%;
          text-align:center;
          text-decoration:none;


          margin:10px;}


         #my_button:hover{
             background-color:cornflowerblue;}


             .loader {
               border: 5px solid #2E8B57;
               border-radius: 50%;
               border-top: 5px solid #000000;
               position: absolute;
               left:45%;
               top: 45%;
               width: 50px;
               height: 50px;
               -webkit-animation: spin 2s linear infinite;
               animation: spin 2s linear infinite;
             }

             @-webkit-keyframes spin {
               0% { -webkit-transform: rotate(0deg); }
               100% { -webkit-transform: rotate(360deg); }
             }

             @keyframes spin {
               0% { transform: rotate(0deg); }
               100% { transform: rotate(360deg); }
             }

             .txtloader {
               position: absolute;
               left:42%;
               top: 53%;
             }
